In [2]:
# import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
from wordcloud import WordCloud

In [18]:
# Step 1: Load both datasets
movies_df = pd.read_csv('D:/data_analyst/AnalyticsProjects/projects/movie_dashboard_views/tmdb_5000_movies.csv')
credits_df = pd.read_csv('D:/data_analyst/AnalyticsProjects/projects/movie_dashboard_views/tmdb_5000_credits.csv')

In [19]:
# details of data
print(movies_df.shape)
print(movies_df.columns)
movies_df.head(2)

(4803, 20)
Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [20]:
print(credits_df.shape)
print(credits_df.columns)
credits_df.head(2)

(4803, 4)
Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [21]:
# # Step 2: Merge on ID
movies_df = movies_df.merge(credits_df, left_on='id', right_on='movie_id', how='left')

# # Step 3: Drop redundant 'movie_id' column (post-merge cleanup)
movies_df.drop('movie_id', axis=1, inplace=True)

# Step 3: Drop redundant 'movie_id' column (post-merge cleanup)
movies_df.drop('title_y', axis=1, inplace=True)

In [47]:
print(movies_df.head(4))

   movie_budget                                         genre_list  \
0     237000000  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
1     300000000  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2     245000000  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3     250000000  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...

                                 movie_homepage  movie_id  \
0                   http://www.avatarmovie.com/     19995
1  http://disney.go.com/disneypictures/pirates/       285
2   http://www.sonypictures.com/movies/spectre/    206647
3            http://www.thedarkknightrises.com/     49026

                                      movie_keywords language  \
0  [{'id': 1463, 'name': 'culture clash'}, {'id':...       en
1  [{'id': 270, 'name': 'ocean'}, {'id': 726, 'na...       en
2  [{'id': 470, 'name': 'spy'}, {'id': 818, 'name...       en
3  [{'id': 849, 'name': 'dc comics'}, {'id': 853,...       en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises

                                      movie_overview  popularity_score  \
0  In the 22nd century, a paraplegic Marine is di...        150.437577
1  Captain Barbossa, long believed to be dead, ha...        139.082615
2  A cryptic message from Bond’s past sends him o...        107.376788
3  Following the death of District Attorney Harve...        112.312950

                                      prod_companies  ... runtime_minutes  \
0  [{'name': 'Ingenious Film Partners', 'id': 289...  ...           162.0
1  [{'name': 'Walt Disney Pictures', 'id': 2}, {'...  ...           169.0
2  [{'name': 'Columbia Pictures', 'id': 5}, {'nam...  ...           148.0
3  [{'name': 'Legendary Pictures', 'id': 923}, {'...  ...           165.0

                                        spoken_langs  release_status  \
0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...        Released
1           [{'iso_639_1': 'en', 'name': 'English'}]        Released
2  [{'iso_639_1': 'fr', 'name': 'Français'}, {'is...        Released
3           [{'iso_639_1': 'en', 'name': 'English'}]        Released

                                    movie_tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends

                                movie_title average_rating total_votes  \
0                                    Avatar            7.2       11800
1  Pirates of the Caribbean: At World's End            6.9        4500
2                                   Spectre            6.3        4466
3                     The Dark Knight Rises            7.6        9106

                                           cast_list  \
0  [{'cast_id': 242, 'character': 'Jake Sully', '...
1  [{'cast_id': 4, 'character': 'Captain Jack Spa...
2  [{'cast_id': 1, 'character': 'James Bond', 'cr...
3  [{'cast_id': 2, 'character': 'Bruce Wayne / Ba...

                                           crew_list      director_name
0  [{'credit_id': '52fe48009251416c750aca23', 'de...      James Cameron
1  [{'credit_id': '52fe4232c3a36847f800b579', 'de...     Gore Verbinski
2  [{'credit_id': '54805967c3a36829b5002c41', 'de...         Sam Mendes
3  [{'credit_id': '52fe4781c3a36847f81398c3', 'de...  Christopher Nolan

[4 rows x 23 columns]

In [23]:
movies_df.rename(columns={
    'vote_average': 'average_rating',
    'vote_count': 'total_votes',
    'release_date': 'released_on'
}, inplace=True)

In [24]:
# Rename the columns name
movies_df.rename(columns={
    'budget': 'movie_budget',
    'genres': 'genre_list',
    'homepage': 'movie_homepage',
    'id': 'movie_id',
    'keywords': 'movie_keywords',
    'original_language': 'language',
    'overview': 'movie_overview',
    'popularity': 'popularity_score',
    'production_companies': 'prod_companies',
    'production_countries': 'prod_countries',
    'revenue': 'movie_revenue',
    'runtime': 'runtime_minutes',
    'spoken_languages': 'spoken_langs',
    'status': 'release_status',
    'tagline': 'movie_tagline',
    'title_x': 'movie_title',
    'vote_average': 'average_rating',
    'vote_count': 'total_votes',
    'cast': 'cast_list',
    'crew': 'crew_list'
}, inplace=True)

In [46]:
# movies_df.columns
# Print all renamed column names
print(movies_df.columns.tolist())

['movie_budget', 'genre_list', 'movie_homepage', 'movie_id', 'movie_keywords', 'language', 'original_title', 'movie_overview', 'popularity_score', 'prod_companies', 'prod_countries', 'released_on', 'movie_revenue', 'runtime_minutes', 'spoken_langs', 'release_status', 'movie_tagline', 'movie_title', 'average_rating', 'total_votes', 'cast_list', 'crew_list', 'director_name']

In [28]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   movie_budget      4803 non-null   int64
 1   genre_list        4803 non-null   object
 2   movie_homepage    1712 non-null   object
 3   movie_id          4803 non-null   int64
 4   movie_keywords    4803 non-null   object
 5   language          4803 non-null   object
 6   original_title    4803 non-null   object
 7   movie_overview    4800 non-null   object
 8   popularity_score  4803 non-null   float64
 9   prod_companies    4803 non-null   object
 10  prod_countries    4803 non-null   object
 11  released_on       4802 non-null   object
 12  movie_revenue     4803 non-null   int64
 13  runtime_minutes   4801 non-null   float64
 14  spoken_langs      4803 non-null   object
 15  release_status    4803 non-null   object
 16  movie_tagline     3959 non-null   object
 17  movie_title       4803 non-null   object
 18  average_rating    4803 non-null   float64
 19  total_votes       4803 non-null   int64
 20  cast_list         4803 non-null   object
 21  crew_list         4803 non-null   object
dtypes: float64(3), int64(4), object(15)
memory usage: 825.6+ KB

In [37]:
movies_df['released_on'] = pd.to_datetime(movies_df['released_on'], errors='coerce').dt.date

In [43]:
import json

json_columns = ['genre_list', 'movie_keywords', 'cast_list', 'crew_list',
                'prod_companies', 'prod_countries', 'spoken_langs']

# for col in json_columns:
#     movies_df[col] = movies_df[col].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

for col in json_columns:
    movies_df[col] = movies_df[col].apply(lambda x: json.loads(x) if isinstance(x, str) else x)

In [39]:
# Convert ratings & votes if they came as strings
movies_df['average_rating'] = movies_df['average_rating'].astype(float)
movies_df['total_votes'] = movies_df['total_votes'].astype(int)

movies_df['movie_overview'] = movies_df['movie_overview'].fillna("No overview available")
movies_df['movie_tagline'] = movies_df['movie_tagline'].fillna("No tagline")

In [44]:
# def get_director(crew):
#     for member in crew:
#         if member.get('job') == 'Director':
#             return member.get('name')
#     return None

# movies_df['director_name'] = movies_df['crew_list'].apply(get_director)

def get_director(crew):
    if isinstance(crew, list):
        for member in crew:
            if isinstance(member, dict) and member.get('job') == 'Director':
                return member.get('name')
    return None

movies_df['director_name'] = movies_df['crew_list'].apply(get_director)

In [ ]:
# Replace inf and -inf with NaN
movies_df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Optionally fill NaN values or drop rows with them
movies_df = movies_df.fillna(0)  # or use movies_df.dropna()

In [ ]:
# Save your DataFrame to CSV
movies_df.to_csv("D:/data_analyst/AnalyticsProjects/projects/movie_dashboard_views/movies.csv", index=False)

In [ ]:
print("NaNs in DataFrame:\n", movies_df.isnull().sum())
print("Has inf values:", np.isinf(movies_df.select_dtypes(include=[np.number])).values.any())

In [ ]:
if not movies_df.empty:
    movies_df.to_sql('movies', con=engine, if_exists='replace', index=False)
else:
    print("DataFrame is empty. Nothing to upload.")

In [ ]:
print(movies_df[movies_df.isin([np.inf, -np.inf]).any(axis=1)])

In [45]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   movie_budget      4803 non-null   int64
 1   genre_list        4803 non-null   object
 2   movie_homepage    1712 non-null   object
 3   movie_id          4803 non-null   int64
 4   movie_keywords    4803 non-null   object
 5   language          4803 non-null   object
 6   original_title    4803 non-null   object
 7   movie_overview    4803 non-null   object
 8   popularity_score  4803 non-null   float64
 9   prod_companies    4803 non-null   object
 10  prod_countries    4803 non-null   object
 11  released_on       4802 non-null   object
 12  movie_revenue     4803 non-null   int64
 13  runtime_minutes   4801 non-null   float64
 14  spoken_langs      4803 non-null   object
 15  release_status    4803 non-null   object
 16  movie_tagline     4803 non-null   object
 17  movie_title       4803 non-null   object
 18  average_rating    4803 non-null   float64
 19  total_votes       4803 non-null   int32
 20  cast_list         4803 non-null   object
 21  crew_list         4803 non-null   object
 22  director_name     4773 non-null   object
dtypes: float64(3), int32(1), int64(3), object(16)
memory usage: 844.4+ KB

In [55]:
import pandas as pd
from sqlalchemy import create_engine

# 1. Load the CSV file
df = pd.read_csv('D:/data_analyst/AnalyticsProjects/projects/movie_dashboard_views/movies.csv')

# Optional: Clean up column names (remove spaces/special characters)
df.columns = [col.strip().replace(' ', '_').lower() for col in df.columns]

# 2. Define your MySQL connection details
db_user = 'root'
db_password = 'root'
db_host = 'localhost'
db_port = '3306'
db_name = 'movies_reviews'
table_name='movies'

# # 3. Create SQLAlchemy connection string
engine = create_engine(f'mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}')

# 4. Send data to MySQL (it will auto-create the table if not exists)
try:
    df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)
    print(" Data uploaded successfully!")
except Exception as e:
    print(" Error uploading data:", e)

 Data uploaded successfully!